################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vidly/App_Data/aspnet-Vidly-20200310110425.mdf
